* {
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-snap-type: y proximity;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
}

section::after {
    content: attr(data-title);
    position: absolute;
    right: 0.8em;
    bottom: 0.5em;
    font-size: 4rem;
    color: rgb(0, 0, 0, 0.2);
}

section.dark-mode::after {
    color: rgb(255, 255, 255, 0.2);
}
